<html ng-app='eneeyes-node-site'>
	
    <head>
        <title>MWM Devices</title>

        <link rel="icon" href="image/favicon.ico" type="image/gif" sizes="16x16">

        <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
          		
        <!-- ANGULAR -->        
        <script type="text/javascript" src="./vendors/angular.min.js"></script>                
        <script type="text/javascript" src="./fusioncharts/fusioncharts.js"></script>
	    <script type="text/javascript" src="./fusioncharts/angular-fusioncharts.min.js"></script>
	    <script type="text/javascript" src="./fusioncharts/themes/fusioncharts.theme.ocean.js"></script>

        <script>
            var app = angular.module('eneeyes-node-site',  ['ng-fusioncharts']);
        </script>

        <script src="site-controller.js"></script>
        
		
    </head>

    <body>
        <div ng-controller='siteController'>
            <div class="row col-md-12">
                <div class="col-xs-5 col-md-5" style="padding: 5px;">
                <h4>E-Gas - Standalone Mode</h4><span ng-show="msgError" class="text-red">Mensagem :: {{msgError}}</span>
                <button ng-hide="msgError==undefined" class="btn btn-xs btn-info" ng-click="msgError=undefined">OK</button>
                </div>
                <div class="col-xs-4 col-md-4" style="padding: 5px;">
                    <h4>MWM Sensores</h4>
                </div>
                <div class="col-xs-3 col-md-3">                        
                    <img src="image/Logo_e-GAS.PNG" style="float: right; margin-right: 20px; margin-TOP: 5px; width: 41%;" class="ng-scope">                       
                </div>
            </div>
            <div class="row col-md-12">                                        
                <hr style="margin-top: 8px !important; margin-bottom: 8px !important;">
                <div data-ng-repeat="item in content">               
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding-left: 15px; padding-right: 15px;">
                        <div style="width: 100%; display: flex; justify-content: center; text-align: center;">																																						
                            <!-- <label class="pull-left" style="font-size: 8px">{{item.dataSource.dataText}}</label> -->
                            <br>
                            <div data-fusioncharts							
                                width="200"
                                height= "240"					    						    						    						    
                                type="angulargauge"      
                                data-theme= "ocean"                          
                                data-datasource="{{item.dataSource}}">
                            </div>
                        </div>                
                    </div>                    
                </div>                
            </div>			
        </div>		
    </body>
</html>